<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <header>
        <h1>About us</h1>
    </header>

    <section>
        <article>
            <header>
                <h2>Learning Partner</h2>
            </header>
            <section>
                <p>
                    Bienvenido a Learning Partner.<br>
                    Learning Parter es un lector de documentos de texto en formato PDF. Está integrado con un diccionario de Inglés que permite llevar una lectura cómoda y fluida, al tiempo que aprendes nuevas palabras y comprendes a plenitud las ideas del texto.

                    <br>
                    <br>
                    Welcome to Learning Partner<br>
                    Learning Partner is a PDF text document reader. It includes an English dictionary that will allow you to make a comfortable and fluent reading, at the same time you learn new words and fully understand the text of the ideas.
                </p>
            </section>
        </article>

        <article>
            <header>
                <h2>Team Developer</h2>
            </header>
            <section>
                <span>Juan Pablo Castaño Castro</span>
                <span><a target="_blank" href="mailto:herreras.stiven@gmail.com?subject=Learning Partner">Send an email</a></span>
                
                <span>Stiven Herrera Sierra</span>
                <span><a target="_blank" href="mailto:herreras.stiven@gmail.com?subject=Learning Partner">Send an email</a></span>

                <span>Mario Alberto López Ocampo</span>
                <span><a target="_blank" href="mailto:herreras.stiven@gmail.com?subject=Learning Partner">Send an email</a></span>

                <span>Sebastian David Tabares Alvarez</span>
                <span><a target="_blank" href="mailto:herreras.stiven@gmail.com?subject=Learning Partner">Send an email</a></span>
            </section>
        </article>
    </section>

    <footer>
        <a href="#">Repositorio en Github <img src="../resources/images/github.png" alt="Ir al Github"></a>
    </footer>
</body>
</html>