<!DOCTYPE html >
<html lang="es">
<cabeza>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta nombre="viewport" content="width=device-width, initial-scale=1.0">
    <título>panel de administración </título> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel=" hojade estilo" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anónimo">
</cabeza>
<corporal> 
    <!--Inicio del menú-->
 <aparte>
        <!--Inicio información del usuario-->
    <div>
        <img src=".. /resources/images/userimage.png" alt="Imagen de usuario" title="Imagen de usuario">
        <span>nombre de usuario</span>
    </div>
        <!--Inicio opciones del menú-->

        <!--Inicio opciones del menú-->
    <div>
        <a href="#">Documentossubidos </a>

        <un href="#">Subir documento></un>

        <a href="#">Configuración</a>

        <a href="#">Cerrar sesión<img src=".. /resources/images/exit.png"></a>
    </div>
    
        <!-- Fin opciones del menú-->
 </aparte>
    <!--Fin del menú-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</corporal> 
</html