<!DOCTYPE html >
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <link rel="stylesheet" href="../styles/Administracion.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body class="contenedor">
    <!--Inicio del lateral-->
    <aside class="fixed-top">
        <nav style="z-index: 10;" class="navbar navbar-dark bg-dark" id="menu-btn">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false">
                    <span class="navbar-toggler-icon menu-icon"></span>
                </button>
            </div>
        </nav>

        <!--Inicio del menú-->
        <div style="z-index: 10;" class="collapse collapse-horizontal flex-column w-25 bg-dark p-3 text-white position-absolute" id="menu">
            <!--Inicio información del usuario-->
            <div class="text-center">
                <img src="../resources/images/userimage.png" alt="User image" title="User image">
                <span class="fs-2 align-middle">User name</span>
            </div>
            <!--Fin información del usuario-->
            <hr>

            <!--Inicio opciones del menú-->
            <div class="options">
                <div class="list-group">
                    <a href="Administracion.html" class="list-group-item list-group-item-dark list-group-action active">Uploaded documents</a>

                    <a href="#" class="list-group-item list-group-item-dark list-group-action">Upload document</a>

                    <a href="AdministracionDocumentos.html" class="list-group-item list-group-item-dark list-group-action">Settings</a>
                </div>

                <div class="rounded-3 mt-5">
                    <a href="index.html" class="list-group-item list-group-item-dark list-group-action d-flex justify-content-between align-items-center">Log out<img src="../resources/images/exit.png" alt="Exit icon"></a>
                </div>
            </div>
            <!--Fin opciones del menú-->
        </div>
        <!--Fin del menú-->
    </aside>
    <!--Inicio del lateral-->

    <!--Inicio del contenido principal-->
    <section class="container-fluid p-4 mt-5">
        <h1 class="fs-1 titulo-principal">Your documents</h1>

        <!--Inicio de la sección para últimos documentos abiertos-->
        <div class="container-fluid mb-5">
            <div class="d-flex flex-row justify-content-between cabecera">
                <h3>Recents</h3>
                <hr class="separador">
            </div>

            <!--Inicio cuadrícula con los documentos-->
            <div class="container-fluid d-flex flex-nowrap">

                <!--Inicio primer tarjeta-->
                <div class="tarjeta shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Inicio primer tarjeta-->

                <!--Inicio segunda tarjeta-->
                <div class="tarjeta shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Fin segunda tarjeta-->

                <!--Inicio tercer tarjeta-->
                <div class="tarjeta shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Fin tercer tarjeta-->

                <!--Inicio cuarta tarjeta-->
                <div class="tarjeta shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Fin cuarta tarjeta-->

                <!--Inicio quinta tarjeta-->
                <div class="tarjeta shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Fin quinta tarjeta-->

            </div>
            <!--Inicio cuadrícula con los documentos-->
        </div>
        <!--Fin de la sección para últimos documentos abiertos-->

        <!--Inicio de la sección de todos los documentos cargados-->
        <div class="container-fluid">
            <div class="d-flex flex-row justify-content-between cabecera">
                <h3>All</h3>
                <hr class="separador">
            </div>

            <!--Inicio del buscador-->
            <div class="bg-white rounded-3 w-25 m-3 ms-auto">
                <div class="input-group">
                    <input class="form-control" type="text" name="document-browser" id="document-browser" placeholder="Document title...">
                    <button type="button" class="btn btn-outline-secondary">
                        <img width="20" src="../resources/images/search.svg" alt="Search">
                    </button>
                </div>
            </div><br>
            <!--Fin del buscador-->

            <!--Inicio cuadrícula con los documentos-->
            <div class="container-fluid flex-grid">
                <!--Inicio primer tarjeta-->
                <div class="tarjeta-grid shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Inicio primer tarjeta-->
                
                <!--Inicio segunda tarjeta-->
                <div class="tarjeta-grid shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Fin segunda tarjeta-->

                <!--Inicio tercer tarjeta-->
                <div class="tarjeta-grid shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Fin tercer tarjeta-->

                <!--Inicio cuarta tarjeta-->
                <div class="tarjeta-grid shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Fin cuarta tarjeta-->

                <!--Inicio quinta tarjeta-->
                <div class="tarjeta-grid shadow">
                    <div class="img-background">
                        <img src="../resources/images/text.jpg" alt="Document" style>
                    </div>

                    <div class="info-documento">
                        <h4 class="card-title">Title</h4>
                        <div>
                            <span>Last open<br>Today at 14:00</span>
                        </div>
                    </div>
                </div>
                <!--Fin quinta tarjeta-->

                <div class="tarjeta-grid shadow">
                    <button class="add-btn" title="Add document">
                        <img width="70px" src="../resources/images/add.svg" alt="Add">
                    </button>
                </div>
            </div>
            <!--Fin cuadrícula con los documentos-->
        </div>
        <!--Fin de la sección de todos los documentos cargados-->
    </section>
    <!--Fin del contenido principal-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>
