<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <!--Inicio Encabezado-->
    <header>
        <h1>Learning Partner</h1>
    </header>
    <!--Fin Encabezado-->

    <!--Inicio contenido central-->
    <section>
        <h2>Registrate</h2>

        <!--Inicio formulario-->
        <form>
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" placeholder="Ej: Miguel@123..." title="Debe empezar con una letra" autofocus>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" placeholder="Mínimo 5 caracteres...">
            <input type="checkbox" id="show_password">Mostrar contraseña

            <button type="submit">Registrar</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="InicioSesion.html">Inicia sesión</a></p>
        <!--Fin formulario-->

    </section>
    <!--Fin contenido central-->
</body>
</html>