.contenedor {
    background-color: #343A40;
    white-space: normal;
}

.titulo-principal {
    color: #ffffff;
}

.separador {
    width: 90%;
    border: none;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #000;
    color: #000;
    background-color: #000;
}

.cabecera, .titulo {
    color: rgb(15, 15, 15);
}

.tarjeta {
    width: 25%;
}

.tarjeta-grid {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(20% - 8px);
}

.tarjeta, .tarjeta-grid {
    height: 250px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: white;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    margin: 4px;
}

.tarjeta > .img-background {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    border-radius: 5px;
}

.info-documento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: transparent;
    height: 100%;
    width: 100%;
    visibility: hidden;
    box-sizing: border-box;
}

.img-background:hover + .info-documento,
.info-documento:hover {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.445);
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.add-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.add-btn:hover {
    background-color: white;
}