.seccion {
    background: rgb(33,37,41);
    background: rgba(33,37,41,0.5088235123150823);
}

.card {
    background-color: rgba(0, 0, 0, 0);
}

.btn-email {
    text-decoration: none;
    display: block;
    padding: 7px 5px;
    width: 120px;
    background-color: #0dcaf0;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 4px 0px;
}

.btn-email:hover {
    color: white;
    background-color: #222222;
}